<!DOCTYPE html>
<html lang="en" ng-app="RandomPortfolio">
  <head>
    <meta charset="utf-8" />
    <title>Portfolios Aleatorios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body ng-controller="PortfolioController">

    <div class="row-fluid">
      <div class="span4" id="config_form">
        <!-- formulario para definição do número de carteiras -->
        <form class="form-horizontal">
          <fieldset>
            <legend>Adicione as carteiras a serem geradas</legend>
            <div class="control-group">
              <label class="control-label" for="qtCarteiras" min="1">Qt de carteiras</label>
              <div class="controls">
                <input type="number" id="qtCarteiras" min="1" ng-model="carteiras">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="qtAtivos">Qt de ativos</label>
              <div class="controls">
                <input type="number" id="qtAtivos" min="1" ng-model="ativos">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button class="btn btn-success" id="addConfig"
                        ng-click="addSetting()">Adicionar</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="span8" id="config_settings">
        <h2>Definição de Carteiras</h1>
        <ul>
          <li ng-repeat="setting in settings">
          {{setting.qtCarteiras}} carteira(s) 
          com {{setting.qtAtivos}} ativo(s) cada.
          <a href="" ng-click="removeSetting(setting)">Remover</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- tabela de resultados -->
    <div id="results">
      <div>
        <h3 style="display: inline;">Carteiras</h3>
        <button ng-click="exportPortfolio()" class="btn">Exportar para csv</button>  
      </div>
      
      <table class="table table-condensed" style="margin:20px">
        <tbody>
          <tr ng-repeat="group in portfolio">
            <td ng-repeat="item in group">{{item}}</td>
          </tr>
        </tbody>
      </table>
      <!--
      <ul ng-repeat="group in portfolio">
        <li>{{group.join()}}</li>
      </ul>
      -->
    </div>
    <!-- angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <!-- bootstrap javascripts -->
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <!-- custom javascripts -->
    <script src="app/js/app.js"></script>
  </body>
</html>